.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0.75rem;
  background-color: rebeccapurple;
  color: white;
  text-align: center;
}

.scrollText {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  padding: 0.25rem 1rem;
}

.form {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.question {
  flex-grow: 1;
  min-width: 100dvw;
  border: none;
  display: none;
}

.question:first-child,
.question:has(:checked),
.question:has(:checked) + .question {
  display: block;
}

.gridContainer,
.submitWrapper {
  height: 100%;
  display: none;
  max-width: 100dvw;
  scroll-snap-align: start;
  position: relative;
}

.gridContainer {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: repeat(5, 1fr);
  /* Fix overflow issue. */
  min-width: inherit;
}

.submitWrapper {
  background-color: rebeccapurple;
  min-width: 100dvw;
  padding-inline: 10dvw;
}
.question:last-of-type:has(:checked) + .submitWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  grid-row: 1 / 3;
  z-index: -1;
}

.number,
.text,
.scrollMessage,
.submitButton {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  text-align: center;
  background-color: yellow;
  padding-inline: 1rem;
}

.number,
.textWrapper {
  position: absolute;
}

.number {
  left: 1rem;
  top: 1rem;
}

.textWrapper {
  top: calc(50% - 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollMessage {
  margin-block-start: 1rem;
}

.question:not(:has(:checked)) .scrollMessage {
  visibility: hidden;
}

.choice {
  grid-row: 3 / 4;
  position: relative;
  border-top: 0.0625rem solid;
}

.choice:not(:last-child) {
  border-right: 0.0625rem solid;
}

.radioInput {
  position: absolute;
  opacity: 0;
}

.radioInput:focus-visible + .choiceLabel,
.radioInput:checked + .choiceLabel {
  outline: 0.125rem solid yellow;
  outline-offset: -0.125rem;
}

.choiceLabel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: rebeccapurple;
  color: white;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  gap: 1rem;
}

@media (max-width: 60rem) {
  .choiceText {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.radioInput:checked + .choiceText {
  background-color: yellow;
  color: inherit;
}

.submitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2em;
  padding-block: 1em;
  border-radius: 1em;
  text-transform: uppercase;
}

.crownIcon {
  font-size: clamp(3rem, 16vw, 10rem);
}

.scoreSymbols {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
