.form {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.question,
.submitWrapper {
  display: none;
  min-width: 100dvw;
  height: 50dvh;
  grid-template-rows: 1fr auto;
  scroll-snap-align: start;
}

.question:first-child,
.question:has(:checked),
.question:has(:checked) + .question,
.question:last-child:has(:checked) + .submitWrapper {
  display: grid;
}

.choice {
  grid-row: 2 / 3;
  position: relative;
  border-top: 0.0625rem solid;
}

.choice:not(:last-child) {
  border-right: 0.0625rem solid;
}

.radioInput {
  position: absolute;
  visibility: hidden;
}

.choiceText {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.radioInput:checked + .choiceText {
  background-color: yellow;
}
