.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rebeccapurple;
  color: white;
}

.scrollText {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  padding: 0.25rem 1rem;
}

.form {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.question {
  flex-grow: 1;
  min-width: 100dvw;
}

.gridContainer,
.submitWrapper {
  height: 100%;
  display: none;
  max-width: 100dvw;
  scroll-snap-align: start;
  position: relative;
}

.gridContainer {
  grid-template-rows: 1fr auto auto;
  grid-template-columns: repeat(5, 1fr);
  /* Fix overflow issue. */
  min-width: inherit;
}

.question:first-child .gridContainer,
.gridContainer:has(:checked),
.question:has(:checked) + .question .gridContainer {
  display: grid;
}

.submitWrapper {
  background-color: rebeccapurple;
  min-width: 100dvw;
}
.question:last-of-type:has(:checked) + .submitWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  grid-row: 1 / 3;
  grid-column: 1 / 6;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.number,
.text,
.submitButton {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
  padding-inline: 1rem;
}

.number,
.text {
  position: absolute;
}

.number {
  left: 1rem;
  top: 1rem;
}

.text {
  top: calc(50% - 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
}

.choice {
  grid-row: 3 / 4;
  position: relative;
  border-top: 0.0625rem solid;
}

.choice:not(:last-child) {
  border-right: 0.0625rem solid;
}

.radioInput {
  position: absolute;
  visibility: hidden;
}

.choiceLabel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: rebeccapurple;
  color: white;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  gap: 1rem;
}

@media (max-width: 60rem) {
  .choiceText {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.radioInput:checked + .choiceText {
  background-color: yellow;
  color: inherit;
}

.submitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2em;
  padding-block: 1em;
  border-radius: 1em;
}

.crownIcon {
  font-size: 10rem;
}

.scoreSymbols {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
